<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>  
    <base href="{{ baseHref }}">
    
    <link href="javascript/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    
    <script src="javascript/vendor/jquery-1.8.2.min.js"></script>
    <script src="javascript/vendor/bootstrap/js/bootstrap.min.js"></script> 
    <script src="javascript/vendor/angular.min.js"></script>
    <script src="javascript/vendor/angular-resource.min.js"></script>
    <script src="javascript/mongolab_service.js"></script>
    <script src="javascript/app.js"></script>
    
</head>
    
    
<body ng-app="phonebook">
  
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Phone Book System</a>
        
<ul class="breadcrumb">
  <li><a href="#">Home <i class="icon-home"></i></a> <span class="divider">/</span></li>  
</ul>
      
      </div>
    </div>
  </div>  
  
  {{{body}}} 
  <div class="row-fluid" ng-view></div>
</body>
</html>
